/* Cabeçalho */
.cabecalho {
    border: 5px;
    background: #eeeeee;
    padding-bottom: 20px;
    border-radius: 10px;
}

.logo {
    display: inline;
    
}
 .logo p{
     margin-top: 0;
     padding: 10px 0 0 15px;
     font-size: 24px;
     font-weight: bold;
     color:darkred;
 }

.menu {
    padding-left: 10px;
}

a {
    text-decoration: none;
    margin: 0 100px 0 0;
    padding: 10px;
    border-radius: 24px;
    background: #cccccc;
    color: black;
    font-weight: bold;
}

/* Corpo */

h2 {
    text-decoration: underline wavy ;
}

table {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    
}
th {
    background-color: darkred;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: darkred solid 1px;
}

td { 
    border: darkred solid 1px;
    
}
img {
    max-width: 50%;
}
/* Rodapé */
.rodape {
    border: 5px;
    background: #eeeeee;
    padding-top: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.rodape p {
    margin-top: 0;
    
    font-size: 18px;
    font-weight: bold;
    text-align: center;
 }

 .contatos img {
     width: auto;
     height: auto;
     max-width: 10%;
     padding-left: 17%;   
 }