/* Cabeçalho */
.cabecalho {
    border: 5px;
    background: #eeeeee;
    padding-bottom: 20px;
    border-radius: 10px;
}

.logo {
    display: inline;
    
}
 .logo p{
     margin-top: 0;
     padding: 10px 0 0 15px;
     font-size: 24px;
     font-weight: bold;
     color:darkred;
 }

.menu {
    padding-left: 10px;
}

a {
    text-decoration: none;
    margin: 0 100px 0 0;
    padding: 10px;
    border-radius: 24px;
    background: #cccccc;
    color: black;
    font-weight: bold;
}

/* Corpo */

h2 {
    text-decoration: underline wavy ;
}

.campo {
    display: inline-block;
    margin: 10px;
}

label {
    font-size: 16px;
    width: 20%;
    text-align: center;
}

input {
    width: 50%;
    
}

.form-add {
    text-align: center;
}
button {
    width: 30%;
    color:white;
    background: darkred;
    border-radius: 5px;
    
}

/* Rodapé */
.rodape {
    border: 5px;
    background: #eeeeee;
    padding-top: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.rodape p {
    margin-top: 0;
    
    font-size: 18px;
    font-weight: bold;
    text-align: center;
 }

 .contatos img {
     width: auto;
     height: auto;
     max-width: 10%;
     padding-left: 17%;   
 }