body {

    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

.green-background {
    background-color: green;
    display: grid;
    justify-content: center;
    align-items: center;
}

.yellow-background {
    background-color: yellow;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pink-background {
    background-color: fuchsia;
    display: grid;
    justify-content: center;
    align-items: center;
}

.blue-background {
    background-color: blue;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.red-background {
    background-color: red;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.lightgreen-background {
    background-color: lightgreen;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.purple-background {
    background-color: purple;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#main-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 30px 1fr 200px 30px;
}

#top-container {
    display: grid;
    grid-template-columns: 20% 80%;
}

#middle-container {
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

#vertical-middle-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}